html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.link{
    text-decoration: none;
    color:inherit;
}
ul,ol,li{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --primary-color-text:#2E2F42;
    --primary-color-title:#2E2F42;
    --primary-color-baground:#FFFFFF;
    --primary-color-contact:#434455;
    --secondary-color-text: #434455;
    --primary-color-button:#4D5AE5;
    --primary-color-logo1:#4D5AE5;
    --primary-color-logo2:#F4F4FD;
    --footer-color-text:#E7E9FC;
    --color-btn-hover:#404BBF;
    
    --card-set-gap: 20px;
    --portfolio-img-set-gar:24px;
    --padding-top-set-img:32px;
    --margin-bottom-set-img:8px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color-baground);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

            /* HEADER CONTENT  */
.header{
    padding: 24px 24px;
}
.header-div{
    display: flex;
    align-items: center;
}
.main-menu{
    display: flex;
    /* outline: 1px solid tomato; */
}
            /* всі елементи nav горизонтально  */
.container-menu{
    display: flex;
    align-items: center;  
    justify-content: space-between;   
}
        /* ul список */
.header-menu-list{
    display: flex;
}
        /* logo отступ */
.main-logo1{
    margin-right: 77px;
}
.contact-link{
    margin-left: auto;
}
.menu-item:not(:last-child){
    margin-right: 40px;
}
.menu-contact{
    margin-left: auto;
}

            /* Fonts styles */
.main-logo1,
.footer-logo1{
    font-family: Raleway;
    font-style: normal;
    color: var(--primary-color-logo1);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
.main-logo2{
    color: var(--primary-color-title);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
.footer-logo2{
    color: var(--primary-color-logo2);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}

          /* MAIN SECTION  */

.title-content{
    background-color: var(--primary-color-title);
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
}
.main-title-item{
    margin-top: 0;
    margin-bottom: 48px;
   
    color:var(--primary-color-baground);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    /* outline: 1px solid tomato; */
}
.btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);
   
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;

    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: #404BBF;
}
            /* Description-title */
.description-title{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: calc(-1 * var(--card-set-gap)); */
    /* margin-top: calc(-1 * var(--card-set-gap));  */
}
.wrapper-tittle{
    display: flex;
}
.wrapper-item{
    flex-basis: calc(100% / 4 -var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}
            /* What are we doing */
.container-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}
.container-card-wokr{
    flex-basis: calc((100% / 3 - var(--card-set-gap)));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}
/* .container-card-wokr:not(:nth-child(3n)){
    margin-right: 24px;
} */

            /* EMPLOYEERS */
.employee-wrapper-content{
    background-color:var(--primary-color-baground);
}
.employees-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
 
    margin-left: calc(-1 *var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));

    background-color: #F4F4FD;
}
.employees-list > .employee-card{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    
}
.employee-wrapper{
    padding-top: var(--padding-top-set-img);
    /* border: 1px solid tomato; */
}
.h3-name{
    margin-bottom: var(--margin-bottom-set-img);
}
/* .employee-card:not(:nth-child(4n+1)){
    margin-right: 24px;
}
.employee-card:not(:nth-last-child(-n4+2)){
    margin-bottom: 32px;
} */

                /* Header menu */
.nav-link,
.portfolio-nav-items{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    cursor: pointer;

    color: var(--primary-color-text);
}
.nav-link:hover,
.portfolio-nav-items:hover{
    color:var(--primary-color-button);
}

.contact-link,
.main-text-about,
.main-job-title,
.portfolio-text-about{
    color: var(--primary-color-contact);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.contact-link:hover{
    color:var(--primary-color-button);
}
.contact-link{
    display: flex;
}
            /* Section H2 */
.main-title-todo{
    color: var(--primary-color-text);
    text-align:center;
    
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    
    margin-bottom: 72px;
}
    /* отступи у блоку image */
.h3-goals,
.h2-type-app{
    margin-bottom: var(--margin-bottom-set-img);
 
}
.h3-goals,
.h3-name,
.h2-type-app{
    color: var(--primary-color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* portfolio css */
.portfolio-btn-wrapper{
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 72px;
   
}
.portfolio-content-items{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
    /* кнопки отступи кроме последнего */
.btn-item:not(:last-child){
    margin-right: 24px;
}

.portfolio-btn-items{  
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);

    padding: 8px 16px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-btn-items:hover{
    background-color:var(--color-btn-hover);
    box-shadow: 0px 3px 1px
     rgba(0, 0, 0, 0.1), 0px 2px 1px
     rgba(0, 0, 0, 0.08), 0px 2px 2px
     rgba(0, 0, 0, 0.12);
     border-radius: 4px;
}

.portfolio-wrapper-img{
    display: flex;
    padding-bottom: 120px;
}
.portfolio-items-img{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
    margin-top: calc(-1 * var(--portfolio-img-set-gar));
    margin-left: calc(-1 * var(--portfolio-img-set-gar));
   
    background-color: #F4F4FD;
}
.portfolio-items-img > .portfolio-img{
       
        flex-basis: calc(100% / 3 - var(--portfolio-img-set-gar));
        margin-left: var(--portfolio-img-set-gar);
        margin-top: var(--portfolio-img-set-gar);
        margin-bottom: 48px;
}

.portfolio-description{
    padding-top: var(--padding-top-set-img);
}

            /* Footer */
.footer{
     max-width: 1440px;
     background-color: #2E2F42;
     padding-top: 100px;
     padding-bottom: 100px;
     margin: 0 auto;
     
}
.footer-wrapper{
    justify-content: flex-start;
}
.footer-logo1{
    margin-bottom: 16px;
}
.main-footer-text,
.portfolio-footer-text{
    color: var(--footer-color-text);
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 156px;
}
