:root{
    --primary-color-text:#2E2F42;
    --primary-color-title:#2E2F42;
    --primary-color-baground:#FFFFFF;
    --primary-color-contact:#434455;
    --secondary-color-text: #434455;
    --primary-color-button:#4D5AE5;
    --primary-color-logo1:#4D5AE5;
    --primary-color-logo2:#F4F4FD;
    --footer-color-text:#E7E9FC;
    --color-btn-hover:#404BBF;
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color-baground);
}
.visually-hidden {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* main css */
.container{
    width: 1148px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
/* всі елементи nav горизонтально  */
.container-menu{
    display: flex;
    align-items: center;
    background-color: aqua;
   
}
/* Fonts styles */
.main-logo1,
.footer-logo1{
    font-family: Raleway;
    font-style: normal;
    color: var(--primary-color-logo1);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
.main-logo2{
    color: var(--primary-color-title);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
.footer-logo2{
    color: var(--primary-color-logo2);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}

.main-menu{
    outline: 1px solid tomato;
    
}
/* ul список */
.header-nav-list{
    display: flex;
}
/* ul список */
.header-contact-list{
    display: flex;

}
/* 1-й вариант чистка отсупов */
/* .header-nav-list .item:not(:last-child){
    background-color: tomato;
    margin-right: 40px;
    outline: 1px solid black;
} */

/* 2-й вариант чистка отсупов nav ul li */
.header-nav-list .item + .item {
    /* background-color: tomato; */
    margin-left: 40px;
    /* outline: 1px solid black; */
}
/* ul li contacts */
.header-contact-list .item + .item{
    margin-left: 40px;
}
/* задаем ссылки правий отступ */
.header-nav-list .nav-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    /* padding: 24px 24px; */
    
}
/* .header-nav-list .nav-items:last-child {
    margin-right: 0;
} */
.nav-link,
.portfolio-nav-items{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    cursor: pointer;

    color: var(--primary-color-text);
}
.nav-link:hover,
.portfolio-nav-items:hover{
    color:var(--primary-color-button);
}
.contact-link,
.main-text-about,
.main-job-title,
.portfolio-text-about{
    color: var(--primary-color-contact);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.contact-link:hover{
    color:var(--primary-color-button);
}
.contact-link{
    display: flex;
}
.title-content{
 background-color: var(--primary-color-title);
 text-align: center;
}

.main-title-todo{
    color: var(--primary-color-text);
    text-align:center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;

}

.employee{
    background-color:var(--primary-color-baground);
}
.main-title-item{
    margin-top: 0;
    margin-bottom: 48px;
    text-align: center;
    vertical-align: top;

    color:var(--primary-color-baground);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    outline: 1px solid tomato;
}
.btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);
   
    min-width: 170px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;


    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;

}
.btn:hover{
    background-color: #404BBF;
}

.h3-goals{
    margin-top: 120px;
    margin-bottom: 8px;
    background-color: aqua;
}
.h3-goals,
.h3-name,
.h2-type-app{
    color: var(--primary-color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* portfolio css */
.portfolio-content-items{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;  
  
}
.portfolio-btn-items{  
    font-family: inherit;
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 24px 0 24px;
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-btn-items:hover{
    background-color:var(--color-btn-hover);
}

/* footer */
.footer{
    margin-top: 120px;
    height: 310px;
    background-color: #2E2F42;
}
.footer-link{
    margin-bottom: 16px;
}
.main-footer-text,
.portfolio-footer-text{
    color: var(--footer-color-text);
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
