:root{
    --primary-color-text:#2E2F42;
    --primary-color-title:#2E2F42;
    --primary-color-baground:#FFFFFF;
    --primary-color-contact:#434455;
    --secondary-color-text: #434455;
    --primary-color-button:#4D5AE5;
    --primary-color-logo1:#4D5AE5;
    --primary-color-logo2:#F4F4FD;
    --footer-color-text:#E7E9FC;
    --color-btn-hover:#404BBF;
}

a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color-baground);
  
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* main css */
.main-logo1,
.footer-logo1{
    font-family: Raleway;
    font-style: normal;
    color: var(--primary-color-logo1);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
.main-logo2{
    color: var(--primary-color-title);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
.footer-logo2{
    color: var(--primary-color-logo2);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}

.main-page-nav-content{
     background-color: var(--primary-color-baground);
}

.main-nav-items,
.portfolio-nav-items{
    color: var(--primary-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
}
.main-nav-items:hover,
.portfolio-nav-items:hover{
    color:var(--primary-color-button);
}
.header-contact,
.main-text-about,
.main-job-title,
.portfolio-text-about{
    color: var(--primary-color-contact);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.header-contact:hover{
    color:var(--primary-color-button);
}
.main-title-content{
    background-color: var(--primary-color-title);
    height: 600px;
}
.main-title-todo{
    color: var(--primary-color-text);
    text-align:center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;

}
.main-our-team{
    background-color: var(primary-color-logo2);
}
.employee{
    background-color:var(--primary-color-baground);
}
.main-title-item{
    color:var(--primary-color-baground);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.btn{
    font-family: inherit;
    color: var(--primary-color-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: #404BBF;
}
.h3-goals,
.h3-name,
.h2-type-app{
    color: var(--primary-color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* portfolio css */
.portfolio-content-items{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;  
  
}
.portfolio-btn-items{  
    font-family: inherit;
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 24px 0 24px;
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-btn-items:hover{
    background-color:var(--color-btn-hover);
}

/* footer */
.footer{
    margin-top: 120px;
    height: 310px;
    background-color: #2E2F42;
}
.footer-link{
    margin-bottom: 16px;
}
.main-footer-text,
.portfolio-footer-text{
    color: var(--footer-color-text);
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
